<mat-toolbar>
  <mat-toolbar-row>
   <div><a mat-button [routerLink]="['/']"><img src="../assets/logo-edit.png" height='30' weidth='30'></a></div>
   <div><a mat-button routerLink=".">首页</a></div>
   <div><a mat-button routerLink=".">中心概况</a></div>
   <div><a mat-button routerLink=".">科研团队</a></div>
   <div><a mat-button routerLink=".">科研项目</a></div>
   <div><a mat-button [routerLink]="['set']">科研成果</a></div>
   <div><a mat-button routerLink="."><mat-icon class="example-icon" aria-hidden="false">person</mat-icon></a></div>
   <div><a mat-button routerLink=".">教育教学</a></div>
   <div><a mat-button routerLink=".">仪器平台</a></div>
   <div><a mat-button routerLink=".">走近我们</a></div>
  </mat-toolbar-row>
</mat-toolbar>

