<mat-toolbar>
  <mat-toolbar-row>
   <div><a mat-button [routerLink]="['/']"><img src="../assets/logo-edit.png" height='30' weidth='30'></a></div>
   <div><a mat-button routerLink=".">Dashboard没路由</a></div>
   <div><a mat-button routerLink=".">Register没路由</a></div>
   <div><a mat-button routerLink=".">Develop没路由</a></div>
   <div><a mat-button routerLink=".">Playground没路由</a></div>
   <div><a mat-button [routerLink]="['set']">General Setting有路由</a></div>
   <div><a mat-button routerLink="."><mat-icon class="example-icon" aria-hidden="false">person</mat-icon></a></div>
   <div><a mat-button routerLink=".">Fast Calibration没路由</a></div>
  </mat-toolbar-row>
</mat-toolbar>


